<div class="login-container">
  <p-toast></p-toast>
  
  <div class="card">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="username">Username</label>
        <input 
          id="username" 
          type="text" 
          pInputText 
          formControlName="username" 
          [ngClass]="{'ng-invalid ng-dirty': f['username'].errors && f['username'].touched}"
        />
        <small class="p-error" *ngIf="f['username'].errors?.['required'] && f['username'].touched">
          Username is required
        </small>
      </div>

      <div class="field">
        <label for="password">Password</label>
        <p-password 
          id="password" 
          formControlName="password" 
          [feedback]="false"
          [toggleMask]="true"
          [ngClass]="{'ng-invalid ng-dirty': f['password'].errors && f['password'].touched}"
        ></p-password>
        <small class="p-error" *ngIf="f['password'].errors?.['required'] && f['password'].touched">
          Password is required
        </small>
      </div>

      <div class="field">
        <p-button 
          type="submit" 
          label="Login" 
          [loading]="loading"
          [disabled]="loginForm.invalid"
        ></p-button>
      </div>

      <div class="field">
        <a routerLink="/auth/forgot-password">Forgot Password?</a>
      </div>
    </form>
  </div>
</div> 