<div class="card">
    <div class="card-header">
        <h2>Documents</h2>
        <div class="action-buttons">
            <button pButton icon="pi pi-plus" label="Upload Document" routerLink="upload" class="p-button-success"></button>
        </div>
    </div>

    <div class="card-body">
        <p-table [value]="documents" [loading]="loading" [paginator]="true" [rows]="10" 
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} documents"
                [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="filename">Filename <p-sortIcon field="filename"></p-sortIcon></th>
                    <th pSortableColumn="fileType">Type <p-sortIcon field="fileType"></p-sortIcon></th>
                    <th pSortableColumn="fileSize">Size <p-sortIcon field="fileSize"></p-sortIcon></th>
                    <th pSortableColumn="uploadDate">Upload Date <p-sortIcon field="uploadDate"></p-sortIcon></th>
                    <th pSortableColumn="currentVersion">Version <p-sortIcon field="currentVersion"></p-sortIcon></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-document>
                <tr>
                    <td>{{document.originalFilename}}</td>
                    <td>{{document.fileType}}</td>
                    <td>{{document.fileSize | fileSize}}</td>
                    <td>{{document.uploadDate | date:'medium'}}</td>
                    <td>{{document.currentVersion}}</td>
                    <td>
                        <div class="action-buttons">
                            <button pButton icon="pi pi-download" class="p-button-rounded p-button-info p-button-text" 
                                    (click)="onDownload(document)" pTooltip="Download"></button>
                            <button pButton icon="pi pi-history" class="p-button-rounded p-button-warning p-button-text" 
                                    [routerLink]="['versions', document.id]" pTooltip="View Versions"></button>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" 
                                    (click)="onDelete(document)" pTooltip="Delete"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center p-4">No documents found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Confirm Delete" [(visible)]="displayDeleteDialog" [modal]="true" [style]="{width: '450px'}">
    <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete this document?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" label="No" class="p-button-text" (click)="displayDeleteDialog=false"></button>
        <button pButton icon="pi pi-check" label="Yes" class="p-button-danger" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast> 